.login {
  width: 100%;
  height: 100%;
  position: relative;
}
.logo {
  position: absolute;
  top: 0;
  left: 0;
  padding: 12px 26px;
}
.login-register-wrapper {
  width: 90%;
  max-width: 540px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background: #fff;

  .tabbar {
    width: 100%;
    display: flex;
    margin-bottom: 40px;
    color: #555;

    .tab-item {
      position: relative;
      flex: 1;
      padding: 8px 0;
      text-align: center;
      &:hover {
        cursor: pointer;
      }

      &:first-child {
        &::after {
          content: '';
          height: 50%;
          position: absolute;
          right: 0;
          top: 25%;
          display: block;
          border-right: 1px solid #eee;
        }
      }
    }
    .tabbar-active {
      color: #3c4373;
      border-bottom: 2px solid #3c4373;
    }
  }
}

@media screen and (max-width: 1080px) {
  .tabbar {
    font-size: 18px;
  }
}

@media screen and (min-width: 1081px) {
  .tabbar {
    font-size: 24px;
  }
}