.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  color: #fff;
  font-size: 26px;
  background: #666;
  z-index: 10;
  :global .center-content {
    display: flex;
    justify-content: space-between;
  }
}
