.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  color: #fff;
  font-size: 12px;
  background: $color-theme;
  z-index: 10;
  :global .center-content {
    display: flex;
    justify-content: center;
  }
}
